body{
    background-color: #c2b8b0;
}
.banner-1{
    background-color: white;
    width: 100%;
    height: auto;
    margin-block: 0;
}
.autocomplete-img{
    width: 180px;
    height:100px;
    background-color:black;
    background-size:330px;
    background-repeat:no-repeat;
    background-position: center;
}
.searchForm #hasilSearch{
    opacity: 0;
}
.searchForm:hover #hasilSearch{
    opacity: 1;
}